
// Email Styles

//standard classes

body{
  margin:0; 
  padding:0;
  -webkit-text-size-adjust:none; 
  -ms-text-size-adjust:none;
}

.preheader {  
        display:none !important; 
        visibility:hidden;
        opacity:0; 
        color:transparent; 
        height:0; 
        width:0;
      }

.fluid { 
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important; 
}
.vanish { 
  display:none!important;
  visibility:hidden!important;
  max-height:0px!important;
  max-width:0px!important;
}
.blankgmail{ 
  width:600px; 
  height:2px; 
  border: 0; 
  padding: 0; 
  display: block; 
  min-width:600px
}
.clearpad { 
  padding:0px!important;
}
a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
}
  /*Gmail Targeting - [lang] Approach*/
* [lang~="x-gmailmobile"]{ 
  // property:value;
  // allowing you to show/hide sections specifically on gmail 
  }


  // add your own styles

  .roundme {
    display:block;
    margin:0px auto;
    border-radius:7px;
    background:red;
    color:#fff;
    padding:20px;
  }


