

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// @include font-size(14px);


@mixin bp-medium {
  @media only screen and (min-width: 600px) {
    @content;
  }
}


@mixin bp-large {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

// @include bp-medium {

// } 


